@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic:wght@400&display=swap");
body {
  @apply leading-[normal] m-0;
}

body .post {
  border-left: 1px solid #000;
}

body .search {
  border-bottom: 1px solid #000;
}

body .search img, .buttons {
  display: none;
}
@media (min-width: 640px) {
  body .search img, .buttons {
    display: block;
  }
}

body .feed {
  margin-top: 25%;
  margin-left: 50px;
}
@media (min-width: 640px) {
  body .feed {
    margin-top: 5%;
  }
}

body .navigation {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}